// Note: Add \ before $ symbols in the JSONBin API key to prevent issues with environment variable parsing
VITE_JSONBIN_KEY = "<REPLACE_WITH_YOUR_KEY>";
VITE_BIN_ID = "<REPLACE_WITH_YOUR_KEY>";
VITE_IMGBB_KEY = "<REPLACE_WITH_YOUR_KEY>";
